[submodule "wine"]
	path = wine
	url = https://github.com/ValveSoftware/wine
[submodule "wine-staging"]
	path = wine-staging
	url = https://github.com/wine-staging/wine-staging
[submodule "dxvk"]
	path = dxvk
	url = https://github.com/doitsujin/dxvk.git
[submodule "openvr"]
	path = openvr
	url = https://github.com/ValveSoftware/openvr
[submodule "fonts/liberation-fonts"]
	path = fonts/liberation-fonts
	url = https://github.com/liberationfonts/liberation-fonts
[submodule "protonfixes"]
	path = protonfixes
	url = https://github.com/open-wine-components/umu-protonfixes
[submodule "vkd3d-proton"]
	path = vkd3d-proton
	url = https://github.com/HansKristian-Work/vkd3d-proton
[submodule "OpenXR-SDK"]
	path = OpenXR-SDK
	url = https://github.com/KhronosGroup/OpenXR-SDK
[submodule "dxvk-nvapi"]
	path = dxvk-nvapi
	url = https://github.com/jp7677/dxvk-nvapi
[submodule "vkd3d"]
	path = vkd3d
	url = https://gitlab.winehq.org/wine/vkd3d
[submodule "Vulkan-Headers"]
	path = Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers
[submodule "SPIRV-Headers"]
	path = SPIRV-Headers
	url = https://github.com/KhronosGroup/SPIRV-Headers
[submodule "ffmpeg"]
	path = ffmpeg
	url = https://github.com/FFmpeg/FFmpeg
[submodule "dav1d"]
	path = dav1d
	url = https://github.com/videolan/dav1d.git
[submodule "graphene"]
	path = graphene
	url = https://github.com/ebassi/graphene
[submodule "openfst"]
	path = openfst
	url = https://github.com/alphacep/openfst
[submodule "kaldi"]
	path = kaldi
	url = https://github.com/alphacep/kaldi
	branch = vosk
[submodule "vosk-api"]
	path = vosk-api
	url = https://github.com/alphacep/vosk-api
[submodule "piper"]
	path = piper
	url = https://github.com/shaunren/piper.git
	branch = library
[submodule "libxkbcommon"]
        path = libxkbcommon
        url = https://github.com/xkbcommon/libxkbcommon.git
	branch = libxkbcommon-1.7.0
[submodule "libxml2"]
	path = libxml2
	url = https://gitlab.gnome.org/GNOME/libxml2.git
[submodule "wayland-protocols"]
	path = wayland-protocols
	url = https://gitlab.freedesktop.org/wayland/wayland-protocols.git
[submodule "libpcap"]
	path = libpcap
	url = https://github.com/the-tcpdump-group/libpcap.git
[submodule "FEX"]
        path = FEX
        url = https://github.com/FEX-Emu/FEX.git
[submodule "glslang"]
	path = glslang
	url = https://github.com/KhronosGroup/glslang.git
[submodule "meson"]
	path = meson
	url = https://github.com/mesonbuild/meson.git
[submodule "libsoup"]
	path = libsoup
	url = https://github.com/GNOME/libsoup.git
[submodule "xz"]
	path = xz
	url = https://github.com/tukaani-project/xz.git
[submodule "d7vk"]
	path = d7vk
	url = https://github.com/WinterSnowfall/d7vk.git
[submodule "discord-rpc-bridge"]
	path = discord-rpc-bridge
	url = https://github.com/enderice2/rpc-bridge.git
[submodule "bzip2"]
	path = bzip2
	url = https://sourceware.org/git/bzip2.git
[submodule "spout2pw"]
	path = spout2pw
	url = https://github.com/tasokait/spout2pw.git
[submodule "libdrm"]
	path = libdrm
	url = https://gitlab.freedesktop.org/mesa/libdrm.git
